In [1]:
import pandas as pd
import numpy as np

In [2]:
not_hot = pd.read_csv('not_hot.csv')

In [3]:
hot_songs = pd.read_csv('~/Desktop/data_analytics/Week_6/Day_1/Morning/lab-web-scraping-single-page/hot_songs.csv')

In [4]:
hot_songs.drop(columns = 'Unnamed: 0', inplace = True)

In [5]:
hot_songs.columns = hot_songs.columns.str.lower()

In [6]:
hot_songs.head()

                               title        artist
0  Rockin' Around The Christmas Tree    Brenda Lee
1    All I Want For Christmas Is You  Mariah Carey
2                   Jingle Bell Rock   Bobby Helms
3                     Last Christmas         Wham!
4            A Holly Jolly Christmas     Burl Ives

In [7]:
not_hot.drop(columns = 'Unnamed: 0', inplace = True)

In [8]:
not_hot.head()

               artist                          title
0           Bob Dylan           Like a Rolling Stone
1  The Rolling Stones  (I Can't Get No) Satisfaction
2      The Beach Boys                Good Vibrations
3             Nirvana        Smells Like Teen Spirit
4     Aretha Franklin                        Respect

In [9]:
not_hot.shape

(3000, 2)

In [10]:
merged_df = pd.merge(hot_songs, not_hot, on = ['artist', 'title'], how = 'inner')

if not merged_df.empty:
    print("Matching rows found:")
    print(merged_df)
else:
    print("No matching rows found.")

Matching rows found:
                               title        artist
0  Christmas (Baby Please Come Home)  Darlene Love

In [11]:
not_hot = not_hot[(not_hot['title'] != 'Christmas (Baby Please Come Home)') & (not_hot['artist'] != 'Darlene Love')]

In [12]:
not_hot.shape

(2998, 2)

In [13]:
not_hot.to_csv('not_hot_v2.csv')